<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="41177HannuTapanila.Parkkis" Publisher="CN=1A7FE140-8C91-4396-B73C-98CC8A7052F6" Version="1.0.1.0" />
  <mp:PhoneIdentity PhoneProductId="4e3af47a-44ce-4fda-b638-3843cad122a3" PhonePublisherId="1A7FE140-8C91-4396-B73C-98CC8A7052F6" />
  <Properties>
    <DisplayName>Parkkis</DisplayName>
    <PublisherDisplayName>Hannu Tapanila</PublisherDisplayName>
    <Logo>Assets\StoreLogo\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Parkkis.WindowsPhone.App">
      <m3:VisualElements DisplayName="Parkkis" Square150x150Logo="Assets\Tiles\Logo.png" Square44x44Logo="Assets\Tiles\SmallLogo.png" Description="Parkkis" ForegroundText="light" BackgroundColor="transparent">
        <m3:DefaultTile Wide310x150Logo="Assets\Tiles\WideLogo.png" Square71x71Logo="Assets\Tiles\Square71x71Logo.png">
          <m3:ShowNameOnTiles>
            <m3:ShowOn Tile="square150x150Logo" />
            <m3:ShowOn Tile="wide310x150Logo" />
          </m3:ShowNameOnTiles>
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen\SplashScreen.png" BackgroundColor="#2196F3" />
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>